body{
    margin: 0px;
    padding: 0px;
}
.images{
    height: 300px ;
    object-fit: cover;
}

.heading{
    background-color: crimson;
    color: #000;
    border-radius: 30px;
    text-align: center;
}